@import './var.less';


.vp-form {
    .vp-form-optionBtns {
        margin: 6.6vw 3.3vw 6.6vw 3.3vw;
        text-align: center;
    }

    .option-btn {
        // padding: 40px 180px;
        width: 46.6vw;
    }

    .vp-form-optionBtns .option-btn:not(:last-child) {
        margin-right: 4.2vw;
    }

    .hasCancelBtn {
        .option-btn {
            // padding: 40px 80px;
            width: 30vw;
        }
    }
}